azure==1.0.0
azure-common==1.0.0
azure-mgmt==0.20.0
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.0
azure-mgmt-network==0.20.0
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.20.0
azure-mgmt-storage==0.20.0
azure-nspkg==1.0.0
azure-servicebus==0.20.0
azure-servicemanagement-legacy==0.20.0
azure-storage==0.20.0
Flask==0.10.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
python-dateutil==2.4.2
requests==2.7.0
six==1.9.0
Werkzeug==0.10.4
