<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='util.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='facepp-sdk.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='post_on_fb.js') }}"></script>
</head>

<body>
<script type="text/javascript" src="{{ url_for('static', filename='FaceAPI.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='init.js') }}"></script>
<div class="container">

    <br/>

    <div style="display: inline">
        <video id="liveFace" width="320" height="240" autoplay></video>
        <button id="snapButton" class="btn btn-small btn-primary">Snap Photo</button>
        <button id="clearButton" class="btn btn-small btn-danger" type="button">Clear</button>
    </div>
    <div id="emojiDashborad">
        <canvas id="snapCanvas" width="320" height="240" style="display: none"></canvas>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="postButton"
            onclick="voiceControl()" style="display: none">
            Post on FB
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Post my Emoji on Facebook!</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <img src="" id="previewImage"> <!--Add preview image here-->
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmButton">
                        Post
                    </button>
                </div>
            </div>
        </div>
    </div>
    <img src="../static/smileEmoji.png" id="smile" class="emoji"/>
    <canvas id="combineCanvas" width="480" height="180" style="display: none"></canvas>
    <footer class="footer">
        <p>&copy; MHacks 6</p>
    </footer>
</div>
</body>

</html>