<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='FaceAPI.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='init.js') }}"></script>
</head>
 
<body>
 
    <div class="container">
        <video id="liveFace" width="320" height="240" autoplay></video>
        <br/>
        <div>
            <button id="snapButton">Snap Photo</button>
            <button id="clearButton">Clear</button>
        </div>
        <canvas id="snapCanvas" width="320" height="240" style="display: none"></canvas>
        <footer class="footer">
            <p>&copy; MHacks 6</p>
        </footer>
 
    </div>
</body>
 
</html>